@import url(./reset.css);

*{
    color:red;
}
h1{
    color:rgb(255, 187, 0);
}

h2{
    color:rgb(255, 102, 0)
}

p{
    color:chocolate
}

p span{
    color:rgb(51, 210, 30)
}

li span{
    color:green;
}

li>a{
    color:rgb(255, 0, 85);
}

.title{
    color:aqua
}

.titlere{
color:rgb(255, 0, 191)
}

#architecture{
    color:rgb(14, 57, 187)
}

.header__link{
    color:blueviolet
}

[class*="em"]{
    color:blueviolet
}


.list .item {
	color: rgb(35, 146, 13);
}

.info h3 {
    color: rgb(150, 19, 41);
}

.info p{
    color: coral;
}

.title~p {
	color: green;
}

.borsch{
    color:greenyellow
}