@import url(./reset.css);


.header-title {
    color: brown;
}

.title {
    color:green
}

h3{
    color:blue
}

.header__text{
    color:darkmagenta
}

.text{
    color:#000;
}

.info p{
    color:darkorange
}

.footer{
    color:blueviolet
}

#unique{
    color:rgb(128, 0, 6)
}
